<html lang="en" xmlns:th="Http://www.thymeleaf.org" >
<head >
 <link rel="stylesheet" type="text/css" media="all"
 href="../static/css/add.css"
 th:href="@{/css/add.css}" />
</head>
<body>
<div class="wrapper">
 <header role="banner">
    <nav role="navigation">
      <h1 align="center" class="h1">Welcome to RJ4you(Right Job For You)</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/ap">Add posting</a></li>
        <li><a href="/showjobs">View Jobs</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Registration</a></li>
		<li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </header>
  <img class="img" src="/img/js1.jpg">
</div>


</body>
</html>