<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
 <head>
 <link rel="stylesheet" type="text/css" media="all"
 href="../static/css/add.css"
 th:href="@{/css/add.css}" />
 </head>
<body>
	<h1 class="adb" align="center">Register User</h1>
	<div class="ad">
	<form action="#" th:action="@{/register}" method="post"><br><br>
		Name:<input type="text" name="username"><br><br>
		Password:<input type="password" name="password"><br><br>
		Roles:<br/>
		
		
				Employer:<input type="checkbox" name="roleId" value="1"><br>
				Student:<input type="checkbox" name="roleId" value="2"><br>
								 
	<br>
	<center>
		<input type="submit"  class="btn" value="Add User"></center><br><br>
		Go to:<a href="/">Home Page</a>
	</form>
	
	 </div>
</body>
